<div data-mobile-menu-target="dropdown"
     id="mobile-menu"
     class="max-h-0 transition-[all] duration-300 ease-in-out border-surface lg:hidden overflow-hidden">
  <div class="w-full h-full">
    <%= render 'layouts/header/mobile_menu/link',
               route: root_path,
               content: 'Home',
               border: 'border-b',
               condition: current_page?(root_path),
               delay: '0ms' %>
    <%= render 'layouts/header/mobile_menu/link',
               route: root_path,
               content: 'About',
               border: 'border-b',
               condition: false,
               delay: '0ms' %>
    <%= render 'layouts/header/mobile_menu/link',
               route: root_path,
               content: 'Projects',
               border: 'border-b',
               condition: false,
               delay: '0ms' %>
    <%= render 'layouts/header/mobile_menu/link',
               route: root_path,
               border: '',
               content: 'Contact',
               condition: false,
               delay: '0ms' %>
  </div>
</div>