<div data-action="click->mobile-menu#toggleMenuDropdown"
     class="cursor-pointer inline-block z-50">
  <div data-mobile-menu-target="menuBtn"
       data-nav-target="menuBtn"
       class="menu-btn">
    <div class="burger"></div>
  </div>
</div>
