<div data-action="click->mobile-menu#toggleMenuDropdown"
     class="cursor-pointer inline-block pl-1">
  <div data-mobile-menu-target="menuBtn"
       data-nav-target="menuBtn"
       class="z-50 menu-btn">
    <div class="menu-btn__burger"></div>
  </div>
</div>
