<svg data-mobile-menu-target="menuBtn" class="x" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 220 400" height="400" width="220">
  <g class="top-bars" stroke-width="4">
    <path class="bar bar1" d="M 178,20 H 202" />
    <path class="bar bar2" d="M 178,29 H 202" />
  </g>
</svg>
<div class="menu-click-area" data-action="click->mobile-menu#toggleMenuDropdown"></div>
