<%= link_to route,
            class: "px-5 w-full flex items-center justify-between",
            style: "transition-delay: #{delay};" do %>
  <p class="w-full font-bold font-display text-xl text-left py-2 sm:py-3 border-surface
          <%= border %>
          <%= 'text-primary' if condition %>">
    <%= content %>
  </p>
<% end %>