<div data-mobile-menu-target="dropdown"
     id="mobile-menu"
     class="mobile-menu lg:hidden">
  <ul class="mobile-menu-list">
    <% navigation_links.each do |locals| %>
      <%= render 'layouts/header/mobile_menu/link', locals %>
    <% end %>
  </ul>
</div>