<div class="relative pointer-events-none">
  <div class="absolute top-0 -translate-x-2/4 left-2/4 w-screen h-screen bg-gradient-to-b from-primary/[.18] via-primary/[.10] to-bg-base -z-10"></div>
</div>