<button title="Toggle color scheme"
        data-controller="theme"
        data-action="click->theme#toggleTheme"
        type=button
        class="icon lg:order-last z-[1]">
  <div class="hidden dark:block">
    <%= render 'shared/svgs/sun', size: 28 %>
  </div>
  <div class="dark:hidden block">
    <%= render 'shared/svgs/moon', size: 28 %>
  </div>
</button>