<div class="header mx-auto mb-10">
  <h1 class="relative flex font-display font-bold text-4xl z-10 px-5 sm:px-8">About Me</h1>
</div>
<div class="grid grid-cols-1 lg:grid-cols-12 gap-5 max-w-4xl mx-auto">
  <div class="flex lg:flex-col lg:space-y-4 lg:col-span-7">
    <%= render 'pages/about/text' %>
    <div>
      <%= render 'pages/about/skills' %>
    </div>
  </div>
  <div class="flex justify-center items-center lg:col-span-5">
    <%= image_tag 'pfp.png',
                  class: "h-60 lg:h-full object-cover object-center shadow-xl align-center",
                  style: "box-shadow: 30px 30px 0 rgb(168, 85, 247, .3);"%>
  </div>
</div>
