<div class="flex flex-col space-y-4 text-muted lg:text-lg text-left">
    <p class="">
        Hello! My name is Ryan, I am a Phoenix-based software engineer with a passion for learning and solving problems.
    </p>
    <p class="">
        I began my career doing low-level programming with
        <span>
            <%= link_to 'embedded', 'https://www.gpssource.com/collections/apnt/products/ed3-global-positioning-system-developer-kit', target: '_blank', class: "link link-primary" %>
          </span>
        <span>
            <%= link_to 'systems', 'https://gdmissionsystems.com/products/cross-domain-solutions/tacds-tactical-cross-domain-solution', target: '_blank', class: "link link-primary" %>.
          </span>
        After a few years I transitioned to web development, where I found an interest in building digital experiences.
    </p>
    <p class="" data-mobile-menu-target="about">
        Currently, I am a senior software development engineer at
        <span>
            <%= link_to 'StrongMind', 'https://www.strongmind.com/', target: '_blank', class: "link link-primary" %>.
          </span>
        where I focus on building innovative solutions to educational challenges.
        I also do freelance work for custom-built applications.
    </p>
</div>