<footer class="flex flex-col items-center justify-center w-full h-28 mt-28">
  <div class="text-sm text-center text-muted">
    <%= link_to 'https://ryanjwolfe.com', target: '_blank', class: "hover-underline hover:text-based" do %>
      <div class="flex space-x-2 items-center">
        <%= render 'shared/svgs/git_branch', size: 20 %>
        <div>Developed by Ryan Wolfe.</div>
      </div>
    <% end %>
    <div>
      <span>&copy; 2022</span>
      <span>&middot;</span>
      <span>All rights reserved</span>
    </div>
  </div>
</footer>