<div class="h-screen -mt-28 flex flex-col justify-center items-center">
  <div class="space-y-2 my-5 text-center">
    <h1 class="font-display font-bold text-5xl sm:text-7xl md:text-8xl lg:text-9xl">Ryan Wolfe</h1>
    <h2 class="font-display font-bold text-gray-300 text-3xl sm:text-5xl md:text-6xl lg:text-7xl">Software Engineer</h2>
  </div>
  <p class="font-light text-muted text-center
            max-w-xs sm:max-w-md lg:max-w-lg lg:text-lg">
    Phoenix-based software engineer who enjoys solving problems as well as designing and building web applications.
    I am currently focused on building digital learning solutions at
    <%= link_to 'StrongMind', 'https://www.strongmind.com/', target: '_blank', class: "link link-primary" %>.
  </p>

  <div class="my-5">
    <%= link_to 'Lorem ipsum', root_path, class: "btn btn-primary" %>
  </div>
</div>
