@import url('base.tailwind.css');
@import url('hover-transitions.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply inline-block px-5 py-3 rounded outline-none tracking-wider font-semibold text-sm sm:text-base text-based font-mono
  }
  .btn:focus {
    @apply outline-none ring ring-offset-2
  }
  .btn-primary {
    @apply bg-base text-primary hover:bg-primary/25 hover:text-based active:bg-primary-press/25 border border-primary shadow shadow-primary
  }
  .btn-primary:focus {
    @apply outline-none ring-primary;
  }
  .btn-secondary {
    @apply bg-secondary text-white hover:bg-gray-700 focus:ring-secondary focus:ring-opacity-50 active:bg-secondary-press border border-secondary
  }
  .btn-tertiary {
    @apply bg-none border border-primary hover:bg-gray-400 hover:dark:bg-gray-800 dark:hover:text-based  hover:bg-opacity-25 text-primary dark:text-primary-hover focus:ring-primary focus:ring-opacity-50
  }
  .link {
    @apply text-based underline underline-offset-2 decoration-2
  }
  .link-primary {
    @apply decoration-primary hover:text-primary transition active:text-primary-press active:decoration-primary-press
  }

  .icon {
    @apply inline-block hover-scale hover:text-primary active:text-primary-press
  }
}

@layer utilities {
  .header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center; /* making vertical center on of all children */
  }

  .header::before, .header::after {
    content: '';
    flex: 1 1 auto; /* the first digit is 'flex-grow: 1', helps element to occupy all free space */
    border-bottom: solid 3px;
    border-color: rgb(var(--color-bg-surface));
  }
}