/* hamburger menu with animation into X */
.menu-btn {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    z-index: 50;
    width: 32px;
    height: 32px;
    cursor: pointer;
    transform: scaleX(-1)
}
.burger {
    position: relative;
    width: 28px;
    height: 4px;
    background: rgb(var(--color-text-based));
    transition: transform .275s, background-color .275s
}
.burger::before,
.burger::after {
    content: '';
    position: absolute;
    width: 28px;
    height: 100%;
    background: rgb(var(--color-text-based));
    transition: transform .275s;
}
.burger::before {
    transform: translateY(-9px);
}
.burger::after {
    transform: translateY(9px);
}
/* ANIMATION */
.menu-btn.open .burger {
    transform: translateX(10px);
    background: transparent;
}

.menu-btn.open .burger::before {
    transition: transform .275s, background-color .275s;
    transform: translate(-10px) rotate(-45deg);
    background: white;
}
.menu-btn.open .burger::after {
    transition: transform .275s, background-color .275s;
    transform: translate(-10px) rotate(45deg);
    background: white;
}

/* Mobile menu derived from https://codepen.io/GeoffreyCrofte/pen/ajKVRq */
.mobile-menu {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    background: rgb(var(--color-bg) / .75);
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    transition: all .375s;
    height: 100vh;
}
.mobile-menu.open {
    opacity: 1;
    z-index: 1;
    visibility: visible;
}
/* Yellow band effect */
.mobile-menu::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -15px;
    background: #7c3be0;
    transform-origin: 0 0;
    opacity: 0;
    transform: skew(-14deg) translateX(-120%);
    transition: all .275s .1s;
}

.mobile-menu.open::before {
    transform: skew(-14deg) translateX(0);
    opacity: 1;
}

/* Skewing effect on menu links */
.mobile-menu-list {
    display: inline-flex;
    flex-direction: column;
    height: 90%;
    align-items: flex-end;
    justify-content: center;
    transform: translateX(-18%) skew(-16deg);
}

.mobile-menu-item {
    display: block;
    margin: 20px 0;
    text-align: right;
    transform: skew(16deg);
}

/* Apparition effect on links */
.mobile-menu-link {
    opacity: 0;
    transform: translateY(-10px);
}

.open .mobile-menu-link {
    opacity: 1;
    transform: translateY(0);
}
.mobile-menu .mobile-menu-item:nth-child(1) .mobile-menu-link {
    transition: all 275ms 175ms
}
.mobile-menu .mobile-menu-item:nth-child(2) .mobile-menu-link {
    transition: all 275ms 225ms
}
.mobile-menu .mobile-menu-item:nth-child(3) .mobile-menu-link {
    transition: all 275ms 275ms
}
.mobile-menu .mobile-menu-item:nth-child(4) .mobile-menu-link {
    transition: all 275ms 325ms
}
.mobile-menu .mobile-menu-item:nth-child(5) .mobile-menu-link {
    transition: all 275ms 375ms
}