<div id="nav-background"
     data-header-target="background"
     class="w-screen h-16 sm:h-20 absolute left-2/4 -translate-x-2/4 z-50 pointer-events-none
            transition-[top] duration-300 ease-in-out
            bg-gradient-to-r from-primary/[.2] via-primary/[.15] to-bg-base">
</div>

<nav class="h-16 sm:h-20 container mx-auto px-5" data-header-target="nav">
  <div class="flex items-center justify-between xl:justify-around h-full w-full">
    <%= link_to root_path, class: "hover-underline pb-1" do %>
      <div class="flex space-x-1 items-center tracking-widest uppercase">
        <h2 class="font-display font-bold text-lg md:text-2xl">Ryan</h2>
        <h2 class="font-display font-bold text-lg md:text-2xl text-bg-base bg-primary/90 py-0.5 px-1.5">Wolfe</h2>
      </div>
    <% end %>
    <div class="flex space-x-4">
      <div id="navbar-links" class="hidden lg:flex items-center space-x-4">
        <% navigation_links.each do |locals| %>
          <%= render 'layouts/header/navbar/link', locals %>
        <% end %>
      </div>
      <%= render 'layouts/header/navbar/nav_icons' %>
    </div>
  </div>
</nav>