<div class="flex space-x-2 items-center">
  <%= render 'shared/theme_toggle_btn' %>

  <div class="lg:hidden justify-self-end">
    <%= render 'layouts/header/mobile_menu/mobile_menu_btn' %>
  </div>
</div>