<nav class="h-16 sm:h-20 lg:h-24 container mx-auto px-5" data-header-target="nav">
  <div class="flex items-center justify-between xl:justify-around h-full w-full">
    <%= link_to root_path, class: "hover-scale" do %>
      <div class="flex space-x-1 items-center tracking-widest uppercase">
        <h2 class="font-display font-bold text-lg md:text-2xl">Ryan</h2>
        <h2 class="font-display font-bold text-lg md:text-2xl text-bg-base bg-primary/90 py-0.5 px-1.5">Wolfe</h2>
      </div>
    <% end %>
    <div class="flex space-x-4">
      <div id="navbar-links" class="hidden lg:flex items-center space-x-4">
        <% navigation_links.each do |locals| %>
          <%= render 'layouts/header/navbar/link', locals %>
        <% end %>
      </div>
      <%= render 'layouts/header/navbar/nav_icons' %>
    </div>
  </div>
</nav>